---
layout: default
title: Some Observations
---
	<h1>{{ page.title }}</h1>

	<h3><a href="{{ site.baseurl }}/blog/categories">Categories</a></h3>

	<div id="archives">
	{% for category in site.categories %}
	  <div>
	    {% capture category_name %}{{ category | first }}{% endcapture %}
	    <div id="#{{ category_name | slugize }}"></div>
	    <p></p>

	    <h3>{{ category_name }}</h3>
	    <a name="{{ category_name | slugize }}"></a>
	    {% for post in site.categories[category_name] %}
	    <article class="posts">
	      <h4><span>{{ post.date | date_to_string }}</span> » <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
	    </article>
	    {% endfor %}
	  </div>
	{% endfor %}
	</div>


	<h3>Chronological</a></h3>

	<ul class="posts">

	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
